.homepage-container {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-card-container {
  background-color: #0a6893;
  border-radius: 10px;
  width: 275px;
  transition: background 0.4s;

  text-align: center;
}

.homepage-card-container:hover {
  background-color: #2983ad;
}

.card-title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;

  letter-spacing: 0.3px;

  color: #ffffff;

  align-self: flex-end;
}
