.homepage-container {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-card-container {
  background-color: var(--main-color-primary);
  border-radius: 10px;
  width: 275px;
  transition: background 0.4s;

  text-align: center;
}

.homepage-card-container:hover {
  background-color: #2983ad;
}

.card-title {
  font: 700 1.4rem/1.5 "Mulish", sans-serif;

  color: #ffffff;
}
