.homepage-container {
  min-height: 71.2vh;
  width: 850px;
  margin-top: 5%;
}

.homepage-card-container {
  background-color: #0A6893;
  border-radius: 10px;
  width: 275px;
  height: 100%;
  transition: background .4s;
}

.homepage-card-container:hover {
  background-color: #2983ad;
}

.homepage-large-card-container {
  margin-top: 20px;
  background-color: #0A6893;
  border-radius: 10px;
  width: 101.7%;
  height: 150px;
  transition: background .4s;
}

.homepage-large-card-container:hover {
  background-color: #2983ad;
}

.card-title {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;

  letter-spacing: 0.3px;

  color: #FFFFFF;

  align-self: flex-end;
}

#grafico_relevante{
  margin-top: 6px;
}

.modal-container{
  margin-top: -7%;
  margin-left: 38.5%;
}

.modal-container button{
  background-color: #0A6893;
  border-radius: 20px;
  color: #FFFFFF;
  font-style: normal;
  transition: background .4s;
  border: none;
  outline: none;
}

.modal-container button:hover{
  background-color: #2983ad;
}

.modal-close button {
  border-radius: 5px;
  width: 4vw;
  background-color: #0A6893;
  border: none;
  box-shadow: 0 0 0 1px gray;
  padding: 0.5%;
  cursor: pointer;
  color: #FFFFFF;
  transition: background .4s;
  outline: none;
}

.modal-close button:hover{
  background-color: #4aa1ca;
}

.modal-filter{
  margin-left: -2%;
}
