.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 9%;
}

.navbar-initialPage {
  margin-right: 3rem;
}

.active {
  font: 600 1rem/1.5 "Mulish", sans-serif;

  border-bottom: 2px solid #3c64b1;

  color: #3c64b1;

  margin: 0 1rem 0 1rem;
}

.no-active {
  font: 400 1rem/1.5 "Mulish", sans-serif;
  margin: 0 1rem 0 1rem;

  color: #373f41;
}

.no-active:hover {
  color: #3c64b1;
}
